<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <img class= "portrait" src="/img/funny.jpeg">
    {{>footer}}
    
</body>
</html>